<div id="<%= item.to_param %>" class="card">
  <div class="card-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
  </div>
  <div class="card-header">
    <h4 class="card-title">Item number <%= item.id %></h4>
  </div>
  <div class="card-copy">
    <p><%= item.value %></p>
    <p><em>Last updated <%= time_ago_in_words(item.updated_at) %> ago</em></p>
    <div class="flash-notice">
      <%= link_to "Show", item_path(item, format: :html), class: "card-link" %>
    </div>
    <div class="flash-error">
      <%= link_to "Delete item", item, class: "right", data: { disable_with: "Deleting...", remote: true, method: :delete }%>
    </div>
  </div>
</div>
