<% if @items.any? %>
  <div id="items" class="card-group">
    <% @items.each do |item| %>
      <%= render item %>
    <% end %>
  </div>
<% else %>
  <section>
    <h2>Welcome!</h2>
    <p>Get started by creating an item below.</p>
  </section>
<% end %>

<%= form_with(model: @item) do |f| %>
  <%= f.label :value %>
  <%= f.text_field :value, id: 'item-value' %>
  <%= f.submit %>
<% end %>
